{% extends 'base.html.twig' %}

{% block title %}HTMX Demo{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello you!</h1>

    <p>Welcome to the HTMX Demo.</p>
    <p>When you surf this website, there is no full page reload!</p>

    <p class="mt-4">
        Server time lazy loaded:
        <span hx-get="{{ path('app_spa_time') }}" hx-trigger="load" class="text-red-700"></span>
    </p>
</div>
{% endblock %}
