{% extends app.request.headers.get('hx-request') ? 'ajax_base.html.twig' : 'base.html.twig' %}

{% block title %}Hello SpaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/nispeon/dev/Divers/htmx-test-article/src/Controller/SpaController.php'|file_link(0) }}">src/Controller/SpaController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/nispeon/dev/Divers/htmx-test-article/templates/spa/index.html.twig'|file_link(0) }}">templates/spa/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
