{% extends 'base.html.twig' %}

{% block title %}Hello SpaController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/nispeon/dev/Divers/htmx-test-article/src/Controller/SpaController.php'|file_link(0) }}">src/Controller/SpaController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/nispeon/dev/Divers/htmx-test-article/templates/spa/index.html.twig'|file_link(0) }}">templates/spa/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
