<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav hx-boost="true">
        <ul>
            <li>
                <a href="{{ path('app') }}" hx-target="#response-div">
                    Home
                </a>
            </li>
            <li>
                <a href="{{ path('app_new_page') }}" hx-target="#response-div">
                    New Page
                </a>
            </li>
        </ul>
    </nav>

    <div id="response-div">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
