{% for message in messages %}
    <tr>
        <td class="border border-slate-700 rounded text-center px-4">
            {{ message.content }}
        </td>
    </tr>
{% else %}
    <tr>
        <td>
            No results found
        </td>
    </tr>
{% endfor %}
