{% extends 'base.html.twig' %}

{% block body %}
    <table class="table-auto border-separate border-spacing-2 border border-slate-500 rounded">
        <thead>
        <tr>
            <th class="rounded border border-slate-600">Comments</th>
        </tr>
        </thead>
        <tbody
                hx-get="{{ path('app_spa_message_list') }}"
                hx-target="this"
                hx-trigger="load, every 5s">
        <tr>
            <td>Loading</td>
        </tr>
        </tbody>
    </table>

    <hr class="mt-4 mb-3">

    <input type="search" class="form-control focus:outline-none mb-3"
           name="search" placeholder="Search for a message"
           hx-get="{{ path('app_spa_search_message') }}"
           hx-trigger="keyup changed delay:100ms, search"
           hx-target="#search-results">

    <table class="table table-auto border-separate border-spacing-2 border border-slate-500">
        <tbody id="search-results">
        </tbody>
    </table>
{% endblock %}
