{% extends app.request.headers.get('hx-request') ? 'ajax_base.html.twig' : 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody
                hx-get="{{ path('app_spa_message_list') }}"
                hx-target="this"
                hx-trigger="load, every 5s">
        <tr>
            <td>Loading</td>
        </tr>
        </tbody>
    </table>
    <hr class="mt-4 mb-3">

    <input type="search"
           name="search" placeholder="Search for a message"
           hx-post="{{ path('app_spa_search_message') }}"
           hx-trigger="keyup changed delay:100ms, search"
           hx-target="#search-results">

    <table>
        <tbody id="search-results">
        </tbody>
    </table>
{% endblock %}
